:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {
    display: flex;
    flex-direction: column;
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Header */
header {
    background: #393163;
    color: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    padding: 10px 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 96%;
}

.header__content {
    display: flex;
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0 30px;
}

.relay__logo {
    width: 270px;
}

.nav__item {
    padding: 0 20px;

}

.header__item {
    padding: 0 20px;

}

/* Main Body */
section {
    background-image: url(../assets/img/background.svg);
    background-size: cover;
    height: calc(100% - 120px);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 50px;
}

.main__container {
    display: grid;
    grid-row-gap: 10px;
    padding:  120px 150px;
}

/* Grid items in main section */
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 40px 0;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 40px 0;
    text-align: right;
}

/* Footer */
footer {
    background: #393163;
    color: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    padding: 10px 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 96%;
}

.mozilla__logo {
    width: 150px;
}

.nav__footer {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 25px;
    padding: 0 30px;
}

.footer__item {
    padding: 0 20px;
}