:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {
    display: flex;
    flex-direction: column;
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

@media (max-width: 767px) {
    body {
        font-size: 13px;
    }
}

img:hover {
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Header */
header {
    background: #393163;
    color: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    padding: 10px 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 96%;
}

.header__content {
    display: flex;
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0 30px;
}

.relay__logo {
    width: 270px;
}

.nav__item {
    padding: 0 20px;
}

.header__item {
    padding: 0 20px;
}

.header__mobile {
    display: none;
}

@media (max-width: 767px) {

    header {
        height: 35px;
        padding-left: 10px;
    }

    .header__content {
        top: 20px;
    }

    .relay__logo {
        width: 200px;
    }

    .nav__item {
        display: none;
    }

    .header__mobile {
        display: block;
        position: absolute;
        top: 53px;
        width: 100%;
        left: 0;
        height: 35px;
    }

    /* Dropdown menu */
    .dropbtnMobile {
        background: #463f6b;
        color: #fff;
        font-size: 16px;
        border: none;
        width: 100%;
        height: 35px;
    }
    
    .dropdownMobile {
        position: relative;
        display: inline-block;
    }

    .nav__mobile {
        display: none;
        position: absolute;
        width: 90%;
        background-color: #463f6b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 1;
        padding: 0 20px;
        text-align: right;
    }
    
    .nav__mobile a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 20px 5px 0;
    }
    
    .dropdownMobile a:hover {
        background-color: #ddd;
    }
}

/* Main Body */
section {
    background-image: url(../assets/img/background.svg);
    background-size: cover;
    height: calc(100% - 120px);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 50px;
}

.main__container {
    display: grid;
    grid-row-gap: 10px;
    padding: 120px 150px;
}

/* Grid items in main section */
.item0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item1 {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    background: rgb(0, 81, 255);
    color: #fff;
    width: fit-content;
    padding: 5px;
    justify-self: flex-end;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 40px 0 0 0;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 40px 0 0 0;
    text-align: right;
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
  
.slider.round {
    border-radius: 16px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.item6 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.aliases {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
}

.relay {
    padding-left: 5px;
}

.email__details {
    color: rgb(155, 155, 155);
}

.details {
    display: flex;
    position: absolute;
    right: 150px;
}

.blocked {
    text-align: center;
    padding: 0 20px;
    color: rgb(155, 155, 155);
}

.forwarded {
    text-align: center;
    padding: 0 20px;
}

/* Dropdown menu */
.dropbtn {
    background: none;
    color: rgb(155, 155, 155);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.7;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    width: fit-content;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
    padding: 0 20px;
}
  
.dropdown__content a {
    color: black;
    text-decoration: none;
    display: block;
    padding-right: 20px;
}
  
.dropdown a:hover {
    background-color: #ddd;
}

.delete {
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: #fff;
    padding: 5px 10px;
}

.delete:hover, .delete:focus {
    opacity: 0.7;
    cursor: pointer;
}
  
.show {
    display: flex;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0 0 0;
}

@media (max-width: 767px) {

    .main__container {
        padding: 60px 10px 20px 10px;
    }

    .details {
        display: none;
    }

    .item0 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item4 {
        display: none;
    }

    .dropbtn {
        font-size: 13px;
    }

    .item8 {
        padding: 5px 0;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


/* Footer */
footer {
    background: #393163;
    color: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    padding: 10px 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 96%;
}

.mozilla__logo {
    width: 150px;
}

.nav__footer {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 25px;
    padding: 0 30px;
}

.footer__item {
    padding: 0 20px;
    color: #fff;
}

@media (max-width: 767px) {
    footer {
        height: 140px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
    }

    .mozilla__logo {
        display: block;
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    .nav__footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        bottom: 10px;
        left: 0;
    }
    
    .footer__item {
        padding: 4px;
    }
}