:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    background: #393163;
    color: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    padding: 10px 30px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    padding: 10px 30px;
}

section {
    background-image: url(../assets/img/background.svg);
    background-size: cover;
}

footer {
    background: #393163;
    display: flex;
    height: 50px;
}